# Experiment No.3

## Krishiv Sharma

## PRN - 25070123065

## Batch - A3

## Title : Study of List and various operations on it

In [ ]:
## Python Lists
football = ["Ronaldo" , "Messi" , "Neymar"]
print(football)

['Ronaldo', 'Messi', 'Neymar']

In [ ]:
## List Length
football = ["Ronaldo" , "Messi" , "Neymar"]
print(len(football))

3

In [ ]:
# A List with strings , integers and boolean values:
list1 = ["abc" , 34 , True , 40 , "male" , 40.5 , 3+2j]
list1

NameError: name 'true' is not defined

In [ ]:
## Access Items
football = ["Ronaldo" , "Messi" , "Neymar"]
print(football[1])

In [ ]:
## Reverse/Negative Indexing
football = ["Ronaldo" , "Messi" , "Neymar" , " Zidane" , "Ronaldinho" , "Kaka"]
print(football[-3])
print(football[-3:])

In [ ]:
## Slicing
football = ["Ronaldo" , "Messi" , "Neymar", "Zidane" , "Ronaldinho" , "Kaka"]
print(football[2:5])

In [ ]:
## Slicing
football = ["Ronaldo" , "Messi" , "Neymar", "Zidane" , "Ronaldinho" , "Kaka"]
print(football[:4])

In [ ]:
## Slicing
football = ["Ronaldo" , "Messi" , "Neymar", "Zidane" , "Ronaldinho" , "Kaka"]
print(football[2:])

In [ ]:
## Change Item Value
football = ["Ronaldo" , "Messi" , "Neymar"]
football[1] = "Mbappe"
print(football)

In [ ]:
## Append Items
football = ["Ronaldo" , "Messi" , "Neymar"]
football.append("Zidane")
print(football)

In [ ]:
## Insert Items
football = ["Ronaldo" , "Messi" , "Neymar"]
football.insert(1 , "Zidane")
print(football)

In [ ]:
## Extend List
football = ["Ronaldo" , "Messi" , "Neymar"]
football1 = ["Zidane" , "Ronaldinho" , "Kaka"]
football.extend(football1)
print(football)

['Ronaldo', 'Messi', 'Neymar', 'Zidane', 'Ronaldinho', 'Kaka']

In [ ]:
# Searching Items
8 in [1,2,3,4,5]

False

In [ ]:
# Searching Items
8 in [1,2,3,4,5,6,7,8,9]

True

In [ ]:
# Repitition
list = (' -Symbi- ') * 7
list

' -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi- '

In [ ]:
numbers = [10 , 20 , 30 , 40 , 50]
# Slicing examples
print("Elements from index 1:3", numbers[1:3])
print("First three elements", numbers[0:3])
print("Elements from index 2 onwards : (Reverse Indexing)", numbers[-3:])
print("All elements" , numbers)

Elements from index 1:3 [20, 30]
First three elements [10, 20, 30]
Elements from index 2 onwards : (Reverse Indexing) [30, 40, 50]
All elements [10, 20, 30, 40, 50]

In [ ]:
marks = [78 , 85 , 90 , 66 , 88]
print("Maximum Marks is:" , max(marks))
print("Minimum Marks is:" , min(marks))
print("Total Marks is:" , sum(marks))
print("Number of students is:" , len(marks))
print("Average Marks is:" , sum(marks)/len(marks))
print("Sort the marks in ascending order" , marks.sort())
print(marks)

Maximum Marks is: 90
Minimum Marks is: 66
Total Marks is: 407
Number of students is: 5
Average Marks is: 81.4
Sort the marks in ascending order None
[66, 78, 85, 88, 90]

In [ ]:
'''2. Grocery Shopping List
A user maintains a grocery list for monthly shopping.'''
grocery_list = ["Milk" , "Egg" , "Butter" , "Bread" , "Chicken"]
print("Created a grocery list:" , grocery_list)
grocery_list.append("Rice")
print("Added new items to the list:" , grocery_list)
grocery_list.remove("Egg")
print("Removed purchased items;" , grocery_list)
print("Final shopping list:" , (grocery_list))

Created a grocery list: ['Milk', 'Egg', 'Butter', 'Bread', 'Chicken']
Added new items to the list: ['Milk', 'Egg', 'Butter', 'Bread', 'Chicken', 'Rice']
Removed purchased items; ['Milk', 'Butter', 'Bread', 'Chicken', 'Rice']
Final shopping list: ['Milk', 'Butter', 'Bread', 'Chicken', 'Rice']

In [ ]:
'''3. A person stores phone contacts in a list.'''
phone_contacts = ["Virat" , "Dhoni" , "Rohit" , "Shreyas"]
print("Created a new list:" , phone_contacts)
phone_contacts.append("Sachin")
print("Added a new contact:" , phone_contacts)
phone_contacts.remove("Rohit")
print("Deleted an existing contact:" , phone_contacts)
phone_contacts.sort()
print("Displayed contacts alphabetically:" , phone_contacts)

Created a new list: ['Virat', 'Dhoni', 'Rohit', 'Shreyas']
Added a new contact: ['Virat', 'Dhoni', 'Rohit', 'Shreyas', 'Sachin']
Deleted an existing contact: ['Virat', 'Dhoni', 'Shreyas', 'Sachin']
Displayed contacts alphabetically: ['Dhoni', 'Sachin', 'Shreyas', 'Virat']

In [3]:
List1 = [20 , 30 , 50 , 60 , 40 , 10 , 70]
print(List1[1:3])
print(List1[1:3:1])
print(List1[1:5:2])
print(List1[1:4:3])
print(List1[6:4:-1])
print(List1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70, 10]
[10]

In [6]:
'''4. Temperature Analysis.'''
temperature_analysis = [18 , 20 , 22 , 24 ,26 , 28 , 30 , 32 , 34 , 36]
print("Temperature of first 5 days:" , temperature_analysis[:5])
print("Temperature of last 5 days:" , temperature_analysis[-5:])
print("Maximum temperature:" , max(temperature_analysis))
print("Minimum temperature:" , min(temperature_analysis))
print("Average temperature:" , sum(temperature_analysis)/len(temperature_analysis))

Temperature of first 5 days: [18, 20, 22, 24, 26]
Temperature of last 5 days: [28, 30, 32, 34, 36]
Maximum temperature: 36
Minimum temperature: 18
Average temperature: 27.0

In [7]:
'''5. Daily Expense Tracker.'''
daily_expense_tracker = [1000 , 2000 , 3000 , 4000 , 5000 , 6000 , 7000 , 8000 , 9000 , 10000]
print("Total Expense:" , sum(daily_expense_tracker))
print("Average Expense:" , sum(daily_expense_tracker)/len(daily_expense_tracker))
print("Highest Spending Day:" , max(daily_expense_tracker))
print("Lowest Spending Day:" , min(daily_expense_tracker))

Total Expense: 55000
Average Expense: 5500.0
Highest Spending Day: 10000
Lowest Spending Day: 1000