# Experiment 5
## Title : To study Sets and Dictionaries in Python
## Name : Krishiv Sharma
## PRN : 25070123065
## Batch : A-3

# Sets

In [ ]:
# Creation of set
football = {"Ronaldo", "Messi", "Neymar", "Mbappe"}
print(football)

{'Neymar', 'Messi', 'Mbappe', 'Ronaldo'}

In [ ]:
# Duplicates not allowed
football = {"Ronaldo", "Messi", "Neymar", "Mbappe", "Ronaldo"}
print(football)

{'Neymar', 'Messi', 'Mbappe', 'Ronaldo'}

In [ ]:
# The values True and 1 are considered the same value in the sets, and are treated as duplicates:
football = {"Ronaldo", "Messi", "Neymar", "Mbappe", True, 1}
print(football)

{True, 'Messi', 'Neymar', 'Mbappe', 'Ronaldo'}

In [ ]:
# A set with strings, integers and boolean values :
set1 = {"xyz", 18, True, 31, "female"}
print(set1)

{'xyz', True, 18, 'female', 31}

In [ ]:
# To check membership
football = {"Ronaldo", "Messi", "Neymar", "Mbappe"}
print("Ronaldo" in football)
print("Lewandowski"  in football)

True
False

In [ ]:
# Once a set is created, you cannotreplace its items,
# but you can add new items.
football = {"Ronaldo", "Messi", "Neymar", "Mbappe"}
football.add("Lewandowski")
football.remove("Messi")
print(football)

{'Lewandowski', 'Ronaldo', 'Neymar', 'Mbappe'}

In [ ]:
# Set Operations
X = {1, 3, 5, 7}
Y = {2, 4, 6, 8}

print("Union:" , X | Y)
print("Intersection:" , X & Y)
print("Difference:" , X - Y)
print("Symmetric Difference:" , X ^ Y)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: set()
Difference: {1, 3, 5, 7}
Symmetric Difference: {1, 2, 3, 4, 5, 6, 7, 8}

# Python Frozenset

In [ ]:
#frozenset
y = frozenset({"Ronaldo", "Messi", "Neymar", "Mbappe" })
print(y)
print(type(y))

frozenset({'Neymar', 'Messi', 'Mbappe', 'Ronaldo'})
<class 'frozenset'>

In [ ]:
# Adding or Removal of elements are not allowed in the frozenset
y = frozenset({"Ronaldo", "Messi", "Neymar", "Mbappe" })
y.add("Lewandowski")
y.remove("Messi")
print(y)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
'''Problem Statement 1: Unique event participants
A college event has a list of students who registered multiple times by misake.'''
students = {"Harshit" , "Shekhar" , "Swastik" , "Aditya" , "Krishiv" , "Harshit" , "Swastik" , "Krishiv", "Medhansh"}
print(students)

{'Medhansh', 'Aditya', 'Shekhar', 'Krishiv', 'Swastik', 'Harshit'}

In [ ]:
'''Problem Statement 2: Three students choose elective subjects.
Find the common subjects chosen by all students using set operaions.
Concept used: Set intersecton (&)'''

In [ ]:



Harshit_electives = {"Mathematics", "Physics", "Chemistry", "Computer Science"}
Krish_electives = {"Physics", "Biology", "Computer Science", "English"}
Khush_electives = {"Mathematics", "Computer Science", "Physics", "Economics"}

common_electives = Harshit_electives & Krish_electives & Khush_electives

print(f"Harshit's electives: {Harshit_electives}")
print(f"Krish's electives: {Krish_electives}")
print(f"Khush's electives: {Khush_electives}")
print(f"Common electives chosen by all students: {common_electives}")

Harshit's electives: {'Mathematics', 'Chemistry', 'Computer Science', 'Physics'}
Krish's electives: {'Physics', 'Biology', 'English', 'Computer Science'}
Khush's electives: {'Mathematics', 'Economics', 'Physics', 'Computer Science'}
Common electives chosen by all students: {'Physics', 'Computer Science'}

In [ ]:
'''Problem statement 3: One set contains students in the Cricket Club, another in the Fooball Club.
Find students who are : 1. In both clubs 2. In only one club
Concept used: Intersection, Difference'''
cricket = {"Krishiv" , "Harshit" ,"Aditya"  , "Swastik"}
football = {"Harshit" , "Shekhar" , "Swastik" , "Aditya" , "Krishiv"}
print("Students in both clubs:" , cricket & football)
print("Students in only one club:" , cricket ^ football)

Students in both clubs: {'Aditya', 'Krishiv', 'Swastik', 'Harshit'}
Students in only one club: {'Shekhar'}

In [ ]:
'''Problem Statement 4: Absent Students
Given a set of all students and a set of present students
find the absent students.
Concept Used: Difference'''
all_students = {"Harshit" , "Shekhar" , "Swastik" , "Aditya" , "Krish" , "Khush" , "Kshitij" , "Vishwam"}
present_students = {"Harshit" , "Shekhar" , "Swastik" , "Khush" , "Vishwam"}
absent_students = all_students - present_students
print("Absent Students:" , absent_students)

Absent Students: {'Kshitij', 'Aditya', 'Krish'}

In [ ]:
'''Problem Statement 5: Remove Invalid Entries.
A set contains valid course codes.
Renove a discontinued course codes from the set.
Concept Used: remove() / discard()'''
course_codes = {"CS101", "CS102", "CS103", "CS104", "CS105"}
print("Current Course Codes:", course_codes)
discontinued_course = "CS103" , "CS101"
course_codes.difference_update(discontinued_course)
print("Updated Course Codes:", course_codes)

Current Course Codes: {'CS103', 'CS101', 'CS105', 'CS104', 'CS102'}
Updated Course Codes: {'CS105', 'CS104', 'CS102'}

# Dictionaries

In [ ]:
#Creating a Dictionary
football = {
    "Player1" : "Ronaldo",
    "Player2" : "Messi",
    "Player3" : "Neymar",
}
football

{'Player1': 'Ronaldo', 'Player2': 'Messi', 'Player3': 'Neymar'}

In [ ]:
# Dictionary takes latest value given for the key. It will not allow duplicates
football = {
    "Player1" : "Ronaldo",
    "Player2" : "Messi",
    "Player3" : "Neymar",
    "Player2" : "Mbappe",
}
football

{'Player1': 'Ronaldo', 'Player2': 'Mbappe', 'Player3': 'Neymar'}

In [ ]:
# Finding the number of members & the type in a dictionary
football = {
    "Player1" : "Ronaldo",
    "Player2" : "Messi",
    "Player3" : "Neymar",
    "Player4" : "Mbappe",
}
print(len(football))
print(type(football))

4
<class 'dict'>

In [ ]:
# Changing/Adding key: value in a dictionary
football = {
    "Player1" : "Ronaldo",
    "Player2" : "Messi",
    "Player3" : "Neymar",
    "Player4" : "Mbappe",
}
y = football.values()
print(y) #before the change
football["Player2"] = "Lewandowski"
print(y) #after the change

dict_values(['Ronaldo', 'Messi', 'Neymar', 'Mbappe'])
dict_values(['Ronaldo', 'Lewandowski', 'Neymar', 'Mbappe'])

In [ ]:
student = {
    "Name" : "Krishiv Sharma",
    "PRN" : 25070123065,
    "Batch" : "A-3",
}
print("Name:" , student["Name"])
print("PRN:" , student["PRN"])
print("Batch:" , student["Batch"])

Name: Krishiv Sharma
PRN: 25070123065
Batch: A-3

In [ ]:
# Adding and Updating Elements
student["Branch"] = "ENTC"
student["Name"] = "Harshit"
student["PRN"] = 25070123053
print(student)

{'Name': 'Harshit', 'PRN': 25070123053, 'Batch': 'A-3', 'Branch': 'ENTC'}

In [ ]:
# Removing Elements
student.pop("Batch")
print("After Removal:" , student)

After Removal: {'Name': 'Harshit', 'PRN': 25070123053, 'Branch': 'ENTC'}

In [1]:
'''1. A dictionary stores product names and their prices. Write a Python Program to update the price of a given product.'''
products = {"Pencil":10 ,"Pen":20 ,"Eraser":30 ,"Sharpener":40 }
print("Original Dictionary :", products)
products["Sharpener"] = 15
print("Updated Dictionary :", products)

Original Dictionary : {'Pencil': 10, 'Pen': 20, 'Eraser': 30, 'Sharpener': 40}
Updated Dictionary : {'Pencil': 10, 'Pen': 20, 'Eraser': 30, 'Sharpener': 15}

In [9]:
'''2. A dictionary stores student names and marks.
Write a python program to search for a students's marks using the name entered by the user.
If the student is not found, display a suitable message.'''
students = {"Harshit":99 , "Krish":67 , "Kshitij":69 , "Khush":98 , "Swastik":76 , "Vishwam": 47}
name = input("Enter the name of the student: ")
if name in students:
    print(f"The marks of {name} are {students[name]}")
else:
    print(f"{name} is not found in the dictionary.")

Enter the name of the student: Harshit
The marks of Harshit are 99

In [13]:
'''3. A dictionary stores usernames and passwords.
Write a python program to validate user login.'''
login = {"admin": "password123", "user1": "abc@123", "guest": "guestpass"}
username = input("Enter username: ")
password = input("Enter password: ")

if username in login:
    if login[username] == password:
        print(f"Welcome, {username}! Login successful.")
    else:
        print("Incorrect password. Please try again.")
else:
    print("Username not found. Please register or check your username.")

Enter username: abc@123
Enter password: password123
Username not found. Please register or check your username.

In [22]:
'''4. A dictionary stores student names and marks.
Write a Python program to find the student who scored the highest marks.'''
students = {"Harshit":99 , "Krish":67 , "Kshitij":69 , "Khush":98, "Swastik":76 , "Vishwam": 47}
topper = max(students, key=students.get)
print("The student with the highest marks is ", topper)
print("The marks of the topper is", students[topper])

The student with the highest marks is  Harshit
The marks of the topper is 99