

# Experiment 7
## Title : To study Loops in Python
## Name : Krishiv Sharma
## PRN : 25070123065
## Batch : A-3
## Date: 06-02-2026

In [ ]:
# While Loop
# Used when the number of iterations is not known
Syntax
while condition:
       statement(s)

In [ ]:
# Printing numbers from 1 to 5
i=1
while (i<=5):
  print (i)
  i = i+1

In [ ]:
# Take input from user to print the number of iterations from 1 to N
n = int(input("Enter the number of iterations: "))
i = 1
while i <= n:
  print(i, end=" ")
  i = i + 1

In [ ]:
# Factorial of a number
n =int(input("Enter the number: "))
fact = 1
i = 1
while (i<=n):
  fact = fact*i
  i = i+1
print("Factorial of the number is: ", fact)

In [ ]:
# Fibonacci Series using while loop
n = int(input("Number of terms you want in the Fibonacci series: "))

a = 0
b = 1
i = 0

print("Fibonacci series:")
while i < n:
  print(a, end=" ")
  c = a + b
  a = b
  b = c
  i = i + 1

In [ ]:
# Reverse a number
num = int(input("Enter the number: "))
rev = 0

while num > 0:
  digit = num % 10
  rev = rev*10+digit
  num //=10

print("Revresed Number = ", rev)

In [ ]:
# Check Palindrome
st = input("Enter the string: ")
rev = st[::-1]
if st==rev:
  print("Palindrome")
else
  print("Not Palindrome")

In [ ]:
# Count didgits in a number
num = int(input("Enter the number: "))
count = 0
while num > 0:
 count += 1
 num //= 10


print("Number of digits = ", count)

Enter the number: 121
Number of digits =  3

# Break Statement

In [ ]:
# Exit the loop when i is 3:

i = 1
while i < 10:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# Search an element in the list
prn = ["25070123065" , "25070123064","25070123066","25070123053" , "25070123114" , "25070123124", "25070123062"]
num = input("Enter the PRN to search: ")
i = 0

while (i < len(prn)):
  if prn[i] == num:
    print("PRN found at index", i+1)
    break
  i += 1
else:
  print("PRN not found")

Enter the PRN to search: 25070123066
PRN found at index 3

# While-Continue

In [ ]:
# Print numbers from 1 to 10 (skip 5)
i = 1
while(i<=10):
  if i == 5:
    i += 1
    continue
  print(i)
  i += 1

1
2
3
4
6
7
8
9
10

In [ ]:
# Print only odd numbers (1 to 10)
i = 1
while(i<=10):
  if i % 2 == 0:
    i += 1
    continue
  print(i)
  i += 1

1
3
5
7
9

# For Loops

In [ ]:
# Print numbers 1 to 6
for x in range (1,7):
  print(x,end=' ')

1 2 3 4 5 6

In [ ]:
# Print even numbers from 1 to 10
for x in range (2,11,2):
  print(x,end=' ')

2 4 6 8 10

In [ ]:
# Sum of first N numbers
n = int(input("Enter the value of n: "))
total = 0

for i in range(1, n + 1):
  total += i

print("Sum =", total)

Enter the value of n: 5
Sum = 15

In [ ]:
# Nested Loops
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 matrix display
A = [ [1,2,3] , [4,5,6] , [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of two 3x3 Matrices (Most Important)
A = [ [1,2,3] , [4,5,6] , [7,8,9]]
B = [ [9,8,7] , [6,5,4] , [3,2,1]]

result = [ [0,0,0] , [0,0,0] , [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of matrices is: ")
for row in result:
    print(row)

Product of matrices is:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [ ]:
# Python Program to Accept Three Digits and Print all Possible Combinations
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
num = [num1, num2, num3]

print("Possible Combinations are: ")

for num1 in range(3):
  for num2 in range(3):
    for num3 in range(3):
      if (num[num1] != num[num2] and num[num1] != num[num3] and num[num2] != num[num3]):
        print(num[num1] , num[num2] , num[num3])

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
Possible Combinations are:
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Armstrong Number (153 370 371 401 123)
num = input("Enter the number: ")
total = 0
length = (num)

for digit in num:
  total += int(digit) ** len(num)

if total == int(num):
  print("Armstrong Number")
else:
  print("Not Armstrong")

Enter the number: 370
Armstrong Number

In [ ]:
# Check if a number is prime or not
num = int(input("Enter the number: "))

if num > 1:
  for i in range(2,num):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
  else:
    print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter the number: 67
67 is a prime number

In [ ]:
n = 5
for i in range(n):
  print(i*' ', (n-i)*' K')

  K K K K K
   K K K K
    K K K
     K K
      K

In [ ]:
#To make a Pyramid
for i in range(n):
  print((n-i)*' ',(i)*' *' )

      *
     * *
    * * *
   * * * *

In [ ]:
# To make a Right Angle Triangle
n = 6
for i in range(n):
  print((n-1)*' ',(i)*' *' )

       *
       * *
       * * *
       * * * *
       * * * * *

In [ ]:
# Floyd's Triangle
rows = int(input("Enter the number of rows: "))
num = 1

print("Floyd's Triangle:")
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

Enter the number of rows: 5
Floyd's Triangle:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i, end=" ")
    print()

Enter the number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5