# Experiment No.4

## Krishiv Sharma

## PRN - 25070123065

## Batch - A3

## Title : Study of Tuple in Python

In [1]:
## Python Tuples
# Create Tuple amd access Tuple Items
football = ("Ronaldo", "Messi", "Neymar")
print(football[1])

Messi

In [2]:
## Python Tuples
# Create Tuple amd access Tuple Items
football = ("Ronaldo", "Messi", "Neymar")
football[1] = "Zidane"
print(football)

TypeError: 'tuple' object does not support item assignment

In [3]:
# Append Items
football = ("Ronaldo", "Messi", "Neymar")
football.append("Kaka")
print(football)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1 = (4 ,5 , 6)
t2 = (7 ,8 , 9)
t3 = t1 + t2
print("t1:" , t1)
print("t2:" , t2)
print("t3:" , t3)

t1: (4, 5, 6)
t2: (7, 8, 9)
t3: (4, 5, 6, 7, 8, 9)

In [6]:
# Add tuple to a tuple
football = ("Ronaldo", "Messi", "Neymar")
y = ("Kaka",)
football += y
print(football)

('Ronaldo', 'Messi', 'Neymar', 'Kaka')

In [5]:
nummbers = (1 ,2 ,3 ,4 ,5)
print(nummbers[1::2])

(2, 4)

In [7]:
## Slicing
football = ("Ronaldo" , "Messi" , "Neymar", "Zidane" , "Ronaldinho" , "Kaka")
print(football[2:5])

('Neymar', 'Zidane', 'Ronaldinho')

In [12]:
student_result = ("Harshit", 25070123053, 85 , "English" , "B")
print(student_result)
print(f"Student Name: {student_result[0]}, PRN: {student_result[1]}, Subject: {student_result[3]}, Score: {student_result[2]}, Grade: {student_result[4]}")

('Harshit', 25070123053, 85, 'English', 'B')
Student Name: Harshit, PRN: 25070123053, Subject: English, Score: 85, Grade: B

In [10]:
student_score = student_result[2]

if student_score >= 75:
    print(f"The student scored {student_score} marks, which is 75 or more. Distinction.")
else:
    print(f"The student scored {student_score} marks, which is less than 75.")

The student scored 85 marks, which is 75 or more. Distinction.

In [16]:
'''An organization records the attendance of all employees in a particular week'''


employee_attendance = ("P", "P", "A", "P", "P", "A", "P")
print(f"Employee's weekly attendance record: {employee_attendance}")


present_days = employee_attendance.count("P")
print(f"Total number of present days: {present_days}")


absent_days = employee_attendance.count("A")
print(f"Total number of absent days: {absent_days}")


if "A" in employee_attendance:
    print("The employee was absent at least once during the recorded period.")
else:
    print("The employee was present every day during the recorded period.")

Employee's weekly attendance record: ('P', 'P', 'A', 'P', 'P', 'A', 'P')
Total number of present days: 5
Total number of absent days: 2
The employee was absent at least once during the recorded period.