# Experiment - 9

# Study of Pandas Library

## Name - Krishiv Sharma
## PRN - 25070123065
## Batch - ENTC-A3
## Date - 18-02-26

In [ ]:
# Introduction to Pandas
# Pandas : Panel Data
'''Used for:
Structured data
EDA
Data cleaning'''

In [3]:
#Declaration of Pandas

import pandas as pd

s = pd.Series([60,70,80,90,100])
s

0     60
1     70
2     80
3     90
4    100
dtype: int64

In [4]:
# Create DataFrame
data = {
    "Name":[ "Khush" , "Krish" , "Kshitij" , "Swastik" , "Vishwam"],
    "Marks":[100, 30, 50, 10, 80]
}
df = pd.DataFrame(data)
df

      Name  Marks
0    Khush    100
1    Krish     30
2  Kshitij     50
3  Swastik     10
4  Vishwam     80

In [5]:
df.head()
df.tail()

      Name  Marks
0    Khush    100
1    Krish     30
2  Kshitij     50
3  Swastik     10
4  Vishwam     80

In [6]:
# Find the Structure of DataFrame
df.shape

(5, 2)

In [7]:
df.ndim

2

In [8]:
df.size

10

In [9]:
#Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [10]:
# Check Data Types of Each Column
df.dtypes

Name     object
Marks     int64
dtype: object

In [11]:
# Access Individual Column
df["Name"]

0      Khush
1      Krish
2    Kshitij
3    Swastik
4    Vishwam
Name: Name, dtype: object

In [12]:
df["Marks"]

0    100
1     30
2     50
3     10
4     80
Name: Marks, dtype: int64

In [14]:
# Access Specific Row
df.loc[3]

Name     Swastik
Marks         10
Name: 3, dtype: object

In [18]:
# Add a New Column
'''If marks 80-90 : Grade A
If marks > 90 : Distinction
If marks > 95-100 : Grade B
If marks < 80 : Fail'''

df["Grade"] = ["Distinction" , "Fail" , "Fail" , "Fail" , "Grade A"]
df

      Name  Marks        Grade
0    Khush    100  Distinction
1    Krish     30         Fail
2  Kshitij     50         Fail
3  Swastik     10         Fail
4  Vishwam     80      Grade A

In [19]:
# Update the Data in the Data Frame
# Change Kshitij marks to 75

df.loc[2 , "Marks"] = 75
df

      Name  Marks        Grade
0    Khush    100  Distinction
1    Krish     30         Fail
2  Kshitij     75         Fail
3  Swastik     10         Fail
4  Vishwam     80      Grade A

In [21]:
# Delete a Column

df.drop("Grade" , axis = 1 , inplace = True)
df

      Name  Marks
0    Khush    100
1    Krish     30
2  Kshitij     75
3  Swastik     10
4  Vishwam     80

In [22]:
# Peform Basic Statistical Analysis

mean1 = df["Marks"].mean()
mean1

np.float64(59.0)

In [23]:
mode1 = df["Marks"].mode()
mode1

0     10
1     30
2     75
3     80
4    100
Name: Marks, dtype: int64

In [25]:
min1 = df["Marks"].min()
min1

10

In [26]:
max1 = df["Marks"].max()
max1

100

In [27]:
# Apply Condition (Filtering)
# Display students scoring more than 50.

dis1 = df[df["Marks"] > 50]
dis1

      Name  Marks
0    Khush    100
2  Kshitij     75
4  Vishwam     80

In [31]:
import pandas as pd
import numpy as np

df1=pd.DataFrame({'C1' :[67,41, np.nan], 'C2' :[15,np.nan,np.nan], 'C3' :[10,20,30]})
df1

     C1    C2  C3
0  67.0  15.0  10
1  41.0   NaN  20
2   NaN   NaN  30

In [33]:
df1.isna ()  #Boolean function

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [34]:
df1.notna ()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [35]:
df1.isna().sum()

C1    1
C2    2
C3    0
dtype: int64

In [36]:
df1.dropna () #NaN Rows are dropped

     C1    C2  C3
0  67.0  15.0  10